{% if page.repo_name %}
    {% assign repo = site.github.public_repositories | where:'name', page.repo_name | first %}
{% endif %}
{% if repo %}
  <div class="sidebar sticky repository">
    {% if repo.full_name %}
      <h3 class="p-name" itemprop="name">{{ repo.name }}</h3>
    {% endif %}
    {% if repo.html_url %}<a href="{{ repo.html_url }}">{{ repo.full_name }}</a>{% endif %}
    {% if repo.description %}<p>{{ repo.description | markdownify }}</p>{% endif %}
    <u>
      <li><i class="fas fa-clone"></i> <a href="{{ repo.clone_url }}">Clone</a></li>
      <li><i class="fas fa-scale-balanced"></i> License: {{ repo.license.name }}</li>
      <li><i class="fas fa-code-fork"></i> Forks: {{ repo.forks }}</li>
      <li><a href="{{ repo.html_url }}/issues"><i class="fas fa-list-check"></i> Issues: {{repo.open_issues }}</a></li>
      <li><i class="fas fa-star"></i> Stars: {{repo.stargazers_count }}</li>
      <li><i class="fas fa-eye"></i> Watchers: {{repo.watchers_count }}</li>
      <li><i class="fas fa-code"></i> Language: {{repo.language }}</li>
    </u>
  </div>
{% endif %}