{% if page.repo_name %}
    {% assign repo = site.github.public_repositories | where:'name', page.repo_name | first %}
{% endif %}
{% if repo %}
  <div class="sidebar sticky repository">
    {% if repo.full_name %}
      <h3 class="p-name" itemprop="name">{{ repo.name }}</h3>
    {% endif %}
    {% if repo.html_url %}<a href="{{ repo.html_url }}">{{ repo.full_name }}</a>{% endif %}
    {% if repo.description %}<p>{{ repo.description | markdownify }}</p>{% endif %}
    <u>
      <li><a href="{{ repo.clone_url }}">Clone</a></li>
      <li>License: {{ repo.license.name }}</li>
      <li>Forks: {{ repo.forks }}</li>
      <li>Issues: {{repo.open_issues }}</li>
      <li>Watchers: {{repo.watchers }}</li>
    </u>
  </div>
  {{repo | jsonify }}
{% endif %}