.feature__wrapper .feature__item .archive__item .archive__item-teaser {
    background-color: #84d1fa;
    background: linear-gradient(to top, #84d1fa33, #84d1facc);
}
.feature__wrapper .feature__item .archive__item .archive__item-teaser img {
    height: 200px;
}