.feature__wrapper .feature__item .archive__item .archive__item-teaser {
    background: linear-gradient(to top, #02b7ff66, #02b7ffbb);
    max-width: 300px;
    max-height: 250px;
    overflow: hidden;
}
.feature__wrapper .feature__item .archive__item .archive__item-teaser img {
    background: linear-gradient(to top, #02b7ff33, #02b7ff77);
    max-height: 250px;
    color: #42aaf5;
}

/* The sidebar for repositories from github */

.sidebar.repository div.repo-details {
    font-size: 80%;
}

.sidebar.repository p.repo-description {
    font-style: italic;
}
.sidebar.repository ul.repo-list {
    list-style-type: none
}

/* The primary picture for posts. */
article.page section.page__content figure.primary-picture {
    float: right;
    clear: right;
    width: 50%;
}

/* When embedding youtube videos in an article/post.*/
article.page section.page__content iframe.youtube-video {
    margin:auto;
    width: 560px;
    height: 315px;
}